*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: 'Play', sans-serif;
    background-color: rgb(234, 232, 232);
  }
  nav{
    background-color:white;
    height: 80px;
    width: 100%;
  }
  #logo{
    position: absolute;
    top: 33px;
    left: 33px;
  }
  #logo img {
    height: 70px;
  }
  #logo:hover{
    background-color: lightgreen;
  }
  section div a img:hover{
    background: rgb(124, 234, 124);
  }
  nav ul{
    position: absolute;
    left: 700px;
    top: 6px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: rgb(161, 161, 161);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 2px;
    text-transform: uppercase;
  }
  nav ul li a:hover{
    background-color: rgb(22, 148, 22);
    color: white;
  }
  a.active{
    background: rgb(190, 248, 190);
    transition: .5s;
  }
  section div img{
    position: relative;
    padding: 12px;
    left: 225px;
    top: 70px;
    width: 900px;
    height: 200px;
  }
  .menu_banner_programing{
    position: absolute;
    width: 870px;
    height: 30px;
    left: 240px;
    top: 300px;
    background-color: lightgray;
    opacity: 0.5;
  }
  #menu_programing p{
    position: absolute;
    font-size: 25px;
    width: 140px;
    height: 25px;
    color: white;
    left: 600px;
    top: 300px;
  }
  .menu_banner_web_dev{
    position: absolute;
    width: 870px;
    height: 30px;
    left: 240px;
    top: 503px;
    background-color: rgb(147, 147, 147);
    opacity: 0.5;
  }
  #menu_web-dev p{
    position: absolute;
    font-size: 28px;
    width: 200px;
    height: 25px;
    color: white;
    left: 550px;
    top: 500px;
  }
  .menu_banner_blockchain{
    position: absolute;
    width: 870px;
    height: 30px;
    left: 240px;
    top: 708px;
    background-color: lightgray;
    opacity: 0.5;
  }
  #menu_blockchain p{
    position: absolute;
    font-size: 25px;
    width: 200px;
    height: 25px;
    color: white;
    left: 600px;
    top: 708px;
  }
   #menu_bbdd{
    position: relative;
    top: 0px;
   }
  .menu_banner_bbdd{
    position: relative;
    width: 880px;
    height: 30px;
    left: 235px;
    top: 15px;
    background-color: lightgray;
    opacity: 0.5;
  }
  #menu_bbdd p{
    position: absolute;
    font-size: 25px;
    width: 140px;
    height: 25px;
    color: white;
    left: 615px;
    top: 219px;
  }

          /*Programing page*/

.menu_banner_programing_java{
  position: absolute;
  width: 870px;
  height: 30px;
  left: 240px;
  top: 300px;
  background-color: rgb(188, 185, 185);
  opacity: 1;
}
#menu_programing_java p{
  position: absolute;
  font-size: 25px;
  width: 140px;
  height: 25px;
  color: white;
  left: 645px;
  top: 300px;
}
.menu_banner_c{
  position: absolute;
  width: 870px;
  height: 30px;
  left: 240px;
  top: 503px;
  background-color: rgb(188, 185, 185);
  opacity: 1;
}
#menu_programing_c p{
  position: absolute;
  font-size: 28px;
  width: 200px;
  height: 25px;
  color: white;
  left: 650px;
  top: 500px;
}
.menu_banner_python{
  position: absolute;
  width: 870px;
  height: 30px;
  left: 240px;
  top: 708px;
  background-color:rgb(188, 185, 185);
  opacity: 1;
}
#menu_programing_python p{
  position: absolute;
  font-size: 25px;
  width: 200px;
  height: 25px;
  color: white;
  left: 620px;
  top: 708px;
}
 #menu_bbdd{
  position: relative;
  top: 0px;
 }
.menu_banner_bbdd{
  position: relative;
  width: 880px;
  height: 30px;
  left: 235px;
  top: 15px;
  background-color: lightgray;
  opacity: 0.5;
}
#menu_bbdd p{
  position: absolute;
  font-size: 25px;
  width: 140px;
  height: 25px;
  color: white;
  left: 615px;
  top: 219px;
}
 